* {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    height: 34px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 20px;
    display: flex;
}

.nev-left span {
    font-size: 35px;
    padding-top: 10px;

}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;

}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;

}

.nav-left ul li :hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.content {
    height: 395px;
    /* background-color: hsla(250, 50%, 88%, 0.395); */
    display: flex;
    margin-top: 32px;
    padding: 9px;
    position: relative;

}

.content::after {
    content: "";
    background-image: url('../img/11.svg.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: relative;

}

.content-left {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 300px;
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles {

    padding-top: 12px;
    /* background-color: rgb(243, 107, 107); */
    margin-top: 23px;
}

.home-article {
    display: flex;
    margin: 25px;
}

.home-article img {
    width: 400px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}



.footer {
    height: 70px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;

}

.footer a {
    color: white;
}