@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --main-bg-color: purple;
    --font1: "Roboto", sans-serif;
    --font2: "Ubuntu", sans-serif;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}


.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.my-2 {
    margin-top: 32px;
    margin-bottom: 32px;
    m
}


.btn {
    padding: 0px 20px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.btn:hover {
    color: white;
    background: var(--main-bg-color);
}

.form-input {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);

}

.form-box input,
taxtarea {
    width: 52vw;
    padding: 10px 6px;
    margin: 7px;
}